 <!-- Profile Section -->
<section class="success" id="activity">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Activity</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-2">
            <h3>一覧</h3>
            <ol>
                <li>
                        <p class="small">e-ZUKA スマートフォン アプリコンテスト 2017</p>
                        <p class="small">『きめごとルーレット』</p>
                        <p class="small">飯塚市役所，九州工業大学 情報工学部：福岡県，2016年11月</p>
                        <p class="small">
                            <a class="secondary" href="http://e-zuka.info/2017/">
                                Web
                            </a>
                        </p>
                    </li>
                <li>
                    <p class="small">SPAJAM2017 本選</p>
                    <p class="small">COLONY箱根：神奈川県，2017年7月</p>
                    <p class="small">
                        <a class="secondary" href="http://spajam.jp/">
                            Web
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">SPAJAM2017 大阪予選</p>
                    <p class="small">関西大学梅田キャンパス KANDAI MeRISE：大阪府，2017年4月</p>
                    <p class="small">
                        <a class="secondary" href="http://spajam.jp/">
                            Web
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">パッカソン2017</p>
                    <p class="small">The Deck：大阪府，2017年3月</p>
                    <p class="small">
                        <a class="secondary" href="http://packathon.jp/">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://semba.keizai.biz/headline/648/">
                            船場経済新聞
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">TechUP Makers</p>
                    <p class="small">『リハビリ支援の杖』，『タバコミュニケーション』</p>
                    <p class="small">BBAブロードバンド推進協議会，ヤフー本社内コワーキングスペース LODGE：東京都，2017年2月</p>
                    <p class="small">
                        <a class="secondary" href="http://bba.or.jp/ja/?page_id=2113">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://www.slideshare.net/YutaTakahashi-ST/techup-makers-iotubicane">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">第3回ビジネスモデル発見＆発表会 近畿大会</p>
                    <p class="small">『タバコミュニティ』</p>
                    <p class="small">ICTビジネス研究会，ナレッジシアター：大阪府，2016年12月</p>
                    <p class="small">
                        <a class="secondary" href="http://ict.telesa.or.jp/archives/2438">
                            Web
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">Mashup Battle 1stStage in 関西</p>
                    <p class="small">『たばこっち』</p>
                    <p class="small">中央会計セミナールーム：大阪府，2016年12月</p>
                    <p class="small">
                        <a class="secondary" href="https://mashupawards.doorkeeper.jp/events/53289">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://hacklog.jp/works/49824">
                            作品
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">e-ZUKA スマートフォン アプリコンテスト 2016</p>
                    <p class="small">『Tobaccotchi』</p>
                    <p class="small">飯塚市役所，九州工業大学 情報工学部：福岡県，2016年11月</p>
                    <p class="small">
                        <a class="secondary" href="http://e-zuka.info/2016/">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://k-tai.watch.impress.co.jp/docs/news/1031033.html">
                            ケータイWatch
                        </a>
                        |
                        <a class="secondary" href="http://www.itmedia.co.jp/mobile/articles/1611/28/news077.html">
                            ITmedia Mobile
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">高専カンファレンスin茨香祭 LT発表</p>
                    <p class="small">茨城工業高等専門学校：茨城県，2016年10月</p>
                    <p class="small">
                        <a class="secondary" href="http://kosenconf.jp/?104shikosai">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://www.slideshare.net/YutaTakahashi-ST/ss-67523684">
                            Slide
                        </a>
                        |
                        <a class="secondary" href="https://www.youtube.com/watch?v=7Pej4_BadtQ">
                            Youtube
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">IoTサービス事例と最新ツールを学ぶ〜AIDORプログラム【基礎知識・IoTサービス編】ハンズオン補助</p>
                    <p class="small">ソフト産業プラザiMedio：大阪府，2016年10月</p>
                    <p class="small">
                        <a class="secondary" href="https://www.sansokan.jp/events/eve_detail.san?H_A_NO=21696">
                            Web
                        </a>
                        |
                        <a class="secondary" href="http://www.slideshare.net/YutaTakahashi-ST/hascweka">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">株式会社CyberZ スキルウェンズデー 発表</p>
                    <p class="small">株式会社CyberZ，渋谷マークシティ：東京都，2016年9月</p>
                    <p class="small">
                        <a class="secondary" href="http://engineer-blog.cyber-z.co.jp/entry/2016/10/13/163342">
                            CyberZ公式エンジニアブログ
                        </a>
                        |
                        <a class="secondary" href="http://www.slideshare.net/YutaTakahashi-ST/ubiquitous-tips">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">Oss Stars～Android編～</p>
                    <p class="small">株式会社CyberAgent，Chateau Ameba：東京都，2016年9月</p>
                    <p class="small">
                        <a class="secondary" href="https://www.cyberagent.co.jp/recruit/fresh/program_detail/id=12078">
                            Web
                        </a>
                        |
                        <a class="secondary" href="https://github.com/yuta-ubiquitous/Andble">
                            成果物
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">3Dプリンタとデジタルファブリケーション 体験学習コース ファブラボ佐賀 補助</p>
                    <p class="small">オンライン講座gacco，FabLab Saga：佐賀県，2015年3月</p>
                    <p class="small">
                        <a class="secondary" href="https://lms.gacco.org/courses/gacco/ga025/2015_02/about">
                            Web
                        </a>
                        |
                        <a class="secondary" href="https://www.facebook.com/pg/FabLabSaga/photos/?tab=album&album_id=804592226263359">
                            アルバム
                        </a>
                    </p>
                </li>
                <li> 
                    <p class="small">全国高等専門学校プログラミングコンテスト 第24回旭川大会 課題部門</p>
                    <p class="small">『Life Logger Rod』</p>
                    <p class="small">旭川市民文化会館：北海道，2013年10月</p>
                    <p class="small">
                        <a class="secondary" href="http://www.procon.gr.jp/modules/procontop/category.pWeb?categoryid=28">
                            Web
                        </a>
                    </p>
                </li>
            </ol>
            
            <h3>受賞</h3>
            <ol>
                <li>
                    <p class="small">e-ZUKAスマートフォンアプリコンテスト2017 Hamee賞（2017年11月）</p>
                    <a class="secondary" href="img/activity/201711-cer-ezuka-hamee.pdf">
                        賞状
                    </a>
                </li>
                <li>
                    <p class="small">e-ZUKAスマートフォンアプリコンテスト2017 富士通賞（2017年11月）</p>
                    <a class="secondary" href="img/activity/201711-cer-ezuka-fujitsu.pdf">
                        賞状
                    </a>
                </li>
                <li>
                    <p class="small">SPAJAM2017 本選 ファイナリスト賞（2017年7月）</p>
                    <a class="secondary" href="img/activity/201707-cer-spajam.pdf">
                        賞状
                    </a>
                    |
                    <a href="#201707-spajam" class="secondary portfolio-link" data-toggle="modal">
                        写真
                    </a>
                    |
                    <a class="secondary" href="http://spajam.jp/final/result/">
                        結果
                    </a>
                    |
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20170710_labol.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">SPAJAM2017 大阪予選 優秀賞（2017年4月）</p>
                    <a class="secondary" href="img/activity/201704-cer-spajam.pdf">
                        賞状
                    </a>
                    |
                    <a href="#201704-spajam" class="secondary portfolio-link" data-toggle="modal">
                        写真
                    </a>
                    |
                    <a class="secondary" href="https://spajam.jp/entry/osaka/">
                        結果
                    </a>
                    |
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20170423_takahashi.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">TechUP Makers グランプリ（2017年2月）</p>
                    <a href="#201702-techup" class="secondary portfolio-link" data-toggle="modal">
                        写真
                    </a>
                    |
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20170209_takahashi.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">TechUP Makers 沖電気工業賞（2017年2月）</p>
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20170209_kido.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">第3回ビジネスモデル発見＆発表会 近畿大会 アイ・オー・データ賞（2016年12月）</p>
                    <a class="secondary" href="img/activity/201612-cer-business-io.pdf">
                        賞状
                    </a>
                    |
                    <a class="secondary" href="http://ict.telesa.or.jp/archives/3073">
                        結果
                    </a>
                    |
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20161209_kido.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">e-ZUKAスマートフォンアプリコンテスト2016 優秀技術賞(ハウインターナショナル賞)（2016年11月）</p>
                    <a class="secondary" href="img/activity/201611-cer-ezuka-tech.pdf">
                        賞状
                    </a>
                </li>
                <li>
                    <p class="small">e-ZUKAスマートフォンアプリコンテスト2016 IDCフロンティア賞（2016年11月）</p>
                    <a class="secondary" href="img/activity/201611-cer-ezuka-idc.pdf">
                        賞状
                    </a>
                    |
                    <a class="secondary" href="http://e-zuka.info/2016/resurt.html">
                        結果
                    </a>
                    |
                    <a class="secondary" href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20161119_hersch.html">
                        受賞報告
                    </a>
                </li>
                <li>
                    <p class="small">全国高等専門学校プログラミングコンテスト 第24回旭川大会 課題部門 敢闘賞（2013年10月）</p>
                    <a class="secondary" href="http://www.procon.gr.jp/wp-content/uploads//2016/10/24_honsenkekka.pdf">
                        本選結果
                    </a>
                </li>
            </ol>
            </div>
        </div>
    </div>
</section>