<!-- Profile Section -->
<section class="success" id="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Profile</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <h3>名前</h3>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p>髙橋雄太</p>
                    </div>
                </div>
                <h3>趣味</h3>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p>ジャグリング，アニメ</p>
                    </div>
                </div>
                <h3>スキル</h3>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                        <p>Python，node.js，C#，Android，機械学習，BLE，mbed，3Dプリンター</p>
                    </div>
                </div>
                <h3>学歴</h3>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2014年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>茨城工業高等専門学校 電子情報工学科 卒業</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2016年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>佐賀大学 理工学部 知能情報システム学科 卒業</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>奈良先端科学技術大学院大学 情報科学研究科 博士前期課程 修了</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>現在</p>
                    </div>
                    <div class="col-lg-10">
                        <p>奈良先端科学技術大学院大学 情報科学研究科 博士後期課程 3年</p>
                    </div>
                </div>
                <h3>インターンシップ</h3>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2017年10月〜2017年11月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>German Research Centre for Artificial Intelligence (ドイツ)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2017年11月〜2017年12月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>Ulm University, Institute of Communications Engineering (ドイツ)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年9月〜2018年12月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>Singapore Management University, School of Information Systems (シンガポール)</p>
                    </div>
                </div>
                <h3>職歴</h3>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2014年11月〜2016年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>株式会社OPTiM アルバイト</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2016年9月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>株式会社CyberZ 就業型インターン</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2017年2月〜2019年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>大阪府立大学 非常勤職員</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2017年4月〜2019年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>株式会社ラボる 取締役員</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年5月〜2019年3月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>株式会社ラボる 代表取締役員</p>
                    </div>
                </div>
                <h3>その他</h3>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年6月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>平成30年度奈良先端科学技術大学院大学優秀学生</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年6月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>トビタテ！留学JAPAN（平成30年度後期・第9期）採択</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <p>2018年5月</p>
                    </div>
                    <div class="col-lg-10">
                        <p>平成29年特に優れた業績による返還免除の認定（JASSO）</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>