<!-- Research Section -->
<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Research</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h3>業績</h3>
            <ol>
                <li>
                    <p class="small">河中祥吾，<ins>高橋雄太</ins>，雨森千周，藤本まなと，荒川豊</p>
                    <p class="small"><b>“自転車競技向け参加型位置共有システムにおけるBLEビーコンの出力変化による捕捉率の影響”</b></p>
                    <p class="small">情報処理学会第79回全国大会（情報処理学会，東京大学 本郷キャンパス：東京都，2017年3月）</p>
                    <p class="small">
                        <a href="http://www.ishilab.net/mbl/program/2016/82.html">HP</a>
                    </p>
                </li>
                <li>
                    <p class="small">水本旭洋，<ins>高橋雄太</ins>，前田直樹，荒川　豊，安本慶一</p>
                    <p class="small"><b>“未知の家電制御信号に適応可能な対話型家電操作ログ収集システムの提案”</b></p>
                    <p class="small">第82回モバイルコンピューティングとパーペイシブシステム研究会（情報処理学会，名古屋大学 東山キャンパス：愛知県，2017年3月）</p>
                    <p class="small">
                        <a href="http://www.ipsj.or.jp/event/taikai/79/index.html">HP</a>
                    </p>
                </li>
                <li>
                    <p class="small"><ins>高橋雄太</ins>，水本旭洋，荒川豊，安本慶一</p>
                    <p class="small"><b>“労働生産性改善に向けたウェアラブル機器を用いた体調推定法の検討”</b></p>
                    <p class="small">第81回モバイルコンピューティングとパーベイシブシステム研究会（情報処理学会，金沢湯桶温泉かなや：石川県，2016年12月）</p>
                    <p class="small">
                        <a href="http://www.ishilab.net/mbl/program/2016/81.html">
                            HP
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/index.php?active_action=repository_view_main_item_detail&page_id=13&block_id=8&item_id=176161&item_no=1">
                            情報処理学会電子図書館
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/ss-69904343">
                            スライド
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">河中祥吾，<ins>高橋雄太</ins>，雨森千周，藤本まなと，荒川豊，藤原晶，福島徹也，松原敬信</p>
                    <p class="small"><b>“競技者の負担を軽減した参加型位置共有システムの提案と実装”</b></p>
                    <p class="small">第17回コンシューマ・デバイス＆システム研究会（情報処理学会，芝浦工業大学 豊洲キャンパス：東京都，2016年8月）</p>
                    <p class="small">
                        <a href="http://www.sig-cds.net/doku.php?id=cds17">
                            HP
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=174271&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small"><ins>高橋雄太</ins>，福田修，奥村浩，新井康平</p>
                    <p class="small"><b>“IoT技術を取り入れた筋電義手の制御”</b></p>
                    <p class="small">ロボティクス・メカトロニクス講演会2016（日本機械学会，パシフィコ横浜：神奈川県，2016年6月）</p>
                    <p class="small">
                        <a href="http://robomech.org/2016/">
                            HP
                        </a>
                        |
                        <a href="doc/research/201606-robomech.pdf">
                            ポスター
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small"><ins>高橋雄太</ins>，清田勝，林田行雄，阪本雄一郎</p>
                    <p class="small"><b>“交通事故データへの頻出パターンマイニングの適用”</b></p>
                    <p class="small">自動車技術会 2016年春季大会（自動車技術会，パシフィコ横浜：神奈川県，2016年5月）</p>
                    <p class="small">
                        <a href="http://www.jsae.or.jp/2016haru/">
                            HP
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/ss-62415702">
                            スライド
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small"><ins>高橋雄太</ins>，滝沢陽三，蓬莱 尚幸</p>
                    <p class="small"><b>“超音波センサーを用いた4点杖の使用者のコンテキスト推定法の提案”</b></p>
                    <p class="small">第42回ユビキタスコンピューティングシステム研究会（情報処理学会，富山国際会議場：富山県，2014年5月）</p>
                    <p class="small">
                        <a href="http://sigubi.ipsj.or.jp/seminar42/">
                            HP
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=101430&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/4-35460990">
                            スライド
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">田島圭一郎，皆川仁志，森脇滉，矢野倉伊織，八重樫拓也，一戸香澄，<ins>高橋雄太</ins>，芦名沢裕太，五十嵐浩</p>
                    <p class="small"><b>“ビーカーのお湯の冷め方〜〜〜「物理チャレンジ」に挑む”</b></p>
                    <p class="small">茨城工業高等専門学校研究彙報，Vol.45，pp.5-14（2010年3月）</p>
                    <p class="small">
                        <a href="http://ci.nii.ac.jp/naid/110007531474">
                            CiNii
                        </a>
                    </p>
                </li>
            </ol>

            <h3>受賞</h3>
            <ol>
                <li>
                    <p class="small">第82回モバイルコンピューティングとパーペイシブシステム研究会 Work in Progress奨励賞</p>
                    <p class="small">
                        <a href="http://www.ishilab.net/mbl/excellent/2016/">
                            HP
                        </a>
                        |
                        <a href="doc/research/201612-mblwip.pdf">
                            賞状
                        </a>
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>
