<!-- Research Section -->
<section id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Research</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h3>一覧</h3>
            <ol>
                <li>
                    <p class="small">
                        Zhihua Zhang, <ins>Yuta Takahashi</ins>, Manato Fujimoto, Yutaka Arakawa, and Keiichi Yasumoto</p>
                    <p class="small">
                        <b>“Investigating effects of interactive-signage-based stimulation for promoting behavior change”</b>
                        <span class="label label-info">Journal Article</span>
                    </p>
                    <p class="small">Computational Intelligence, vol.35, Issue 3, pp.643-668, Aug.2019.</p>
                </li>
                <li>
                    <p class="small">
                            Yuki Matsuda, Dmitrii Fedotov, <ins>Yuta Takahashi</ins>, Yutaka Arakawa, Keiichi Yasumoto and Wolfgang Minker</p>
                    <p class="small">
                        <b>“Towards Real-Time Contextual Touristic Emotion and Satisfaction Estimation with Wearable Devices”</b>
                        <span class="label label-success">Best Demonstration Award</span>
                    </p>
                    <p class="small">IEEE International Conference on Pervasive Computing and Communications (PerCom2019), Demos (Japan, March 2019)</p>
                </li>
                <li>
                    <p class="small">
                    </p>徳田博行，
                    <ins>高橋雄太</ins>，松田裕貴，荒川豊，安本慶一
                    <p class="small">
                        <b>“辞書検索履歴の自動収集に基づく英単語マイクロラーニング支援手法”</b>
                        <span class="label label-success">優秀発表賞</span>
                    </p>
                    <p class="small">第90回モバイルコンピューティングとパーベイシブシステム研究会 (情報処理学会，東京，2019年3月)</p>
                </li>
                <li>
                    <p class="small">
                        Yuki Matsuda, Dmitrii Fedotov, <ins>Yuta Takahashi</ins>, Yutaka Arakawa, Keiichi Yasumoto and Wolfgang Minker</p>
                    <p class="small">
                        <b>“EmoTour: Estimating Emotion and Satisfaction of Users Based on Behavioral Cues and Audiovisual Data”</b>
                        <span class="label label-info">Journal Article</span>
                    </p>
                    <p class="small">Sensors 2018, Vol.18, No.11, Article ID 3978, 2018</p>
                </li>
                <li>
                    <p class="small">
                            Yuki Matsuda, Dmitrii Fedotov, <ins>Yuta Takahashi</ins>, Yutaka Arakawa, Keiichi Yasumoto and Wolfgang Minker</p>
                    <p class="small">
                        <b>“EmoTour: Multimodal Emotion Recognition using Physiological and Audio-Visual Features”</b>
                    </p>
                    <p class="small">Ubiquitous Emotion Recognition with Multimodal Mobile Interfaces (UERMMI)（Singapore, October 2018）</p>
                </li>
                <li>
                    <p class="small">
                            Zhihua Zhang, <ins>Yuta Takahashi</ins>, Manato Fujimoto, Yutaka Arakawa and Keiichi Yasumoto</p>
                    <p class="small">
                        <b>“Investigating User Reactions to Interactive-signage-based Stimulation Toward Behavior Change”</b>
                    </p>
                    <p class="small">The 11th International Conference on Mobile Computing and Ubiquitous Networking (ICMU 2018)（IPSJ, Auckland:New Zealand, October 2018）</p>
                    <p class="small">
                        <a href="http://www.icmu.org/icmu2018/">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">
                    </p>張志華，
                    <ins>高橋雄太</ins>，大坪敦，藤本まなと，荒川豊，安本慶一
                    <p class="small">
                        <b>“行動変容を誘発するインタラクティブサイネージへのユーザの反応調査”</b>
                    </p>
                    <p class="small">マルチメディア，分散，協調とモバイル（DICOMO 2018）シンポジウム（情報処理学会，芦原温泉清風荘：福井県，2018年7月）</p>
                </li>
                <li>
                    <p class="small">
                    </p>渡邉洸，
                    <ins>高橋雄太</ins>，大坪敦，藤本まなと，荒川豊，安本慶一
                    <p class="small">
                        <b>“BLEビーコンと反響音センシングによる屋内スポット推定”</b>
                    </p>
                    <p class="small">マルチメディア，分散，協調とモバイル（DICOMO 2018）シンポジウム（情報処理学会，芦原温泉清風荘：福井県，2018年7月）</p>
                </li>
                <li>
                    <p class="small">
                    </p>徳田博行，
                    <ins>高橋雄太</ins>，荒川豊，安本慶一
                    <p class="small">
                        <b>“継続的マイクロラーニングの実現に向けた隙間時間の調査”</b>
                    </p>
                    <p class="small">マルチメディア，分散，協調とモバイル（DICOMO 2018）シンポジウム（情報処理学会，芦原温泉清風荘：福井県，2018年7月）</p>
                </li>
                <li>
                    <p class="small">Dmitrii Fedotov, Yuki Matsuda,
                        <ins>Yuta Takahashi</ins>, Yutaka Arakawa, Keiichi Yasumoto and Wolfgang Minker</p>
                    <p class="small">
                        <b>“Towards Estimating Emotions and Satisfaction Level of Tourist based on Eye Gaze and Head Movement”</b>
                    </p>
                    <p class="small">The Fourth IEEE Workshop on Sensors and Smart Cities (SSC' 18) (IEEE, Italy, June 2018) </p>
                    <p class="small">
                        <a href="http://www.smart-comp.org/">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，音田恭宏，藤本まなと，荒川豊</p>
                    <p class="small">
                        <b>“センサ装着杖を介した歩行動作検出手法の提案”</b>
                        <span class="label label-info">Journal Article</span>
                    </p>
                    <p class="small">情報処理学会論文誌コンシューマ・デバイス＆システム（CDS）, Vol.8, No.2, pp.43-55, 2018年5月.</p>
                    <p class="small">
                        <a href="http://www.sig-cds.net/cds-trans/trans_info">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“生活リズムの類似性や周期性に基づく心身の健康状態の推定と予測”</b>
                    </p>
                    <p class="small">第58回ユビキタスコンピューティングシステム研究会（情報処理学会，KDDI大手町ビル： 東京都，2018年5月）</p>
                    <p class="small">
                        <a href="http://sigubi.ipsj.or.jp/seminar58/">
                            Web
                        </a>
                        |
                        <a href="https://www.slideshare.net/YutaTakahashi-ST/ss-97599882">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">Yuki Matsuda, Dmitrii Fedotov,
                        <ins>Yuta Takahashi</ins>, Yutaka Arakawa, Keiichi Yasumoto and Wolfgang Minker</p>
                    <p class="small">
                        <b>“Estimating User Satisfaction Impact in Cities using Physical Reaction Sensing and Multimodal Dialogue
                            System”
                        </b>
                    </p>
                    <p class="small">International Workshop on Spoken Dialog System Technology (IWSDS 2018) (SIGdial, Singapore, May 2018)
                    </p>
                    <p class="small">
                        <a href="http://www.iwsds.org/">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，松田裕貴，Dmitrii Fedotov，荒川豊，Wolfgang Minker，安本慶一</p>
                    <p class="small">
                        <b>“観光中の内的状態推定に向けた観光客の無意識的しぐさの分析”</b>
                    </p>
                    <p class="small">第18回ヒューマンプローブ研究会（電子情報通信学会，東京電機大学（東京千住キャンパス）：東京都，2018年2月）</p>
                    <p class="small">
                        <a href="http://ieiceWebb.info/index.pWeb?Kenkyukai18">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">Osamu Fukuda,
                        <ins>Yuta Takahashi</ins>, Nan Bu, Hiroshi Okumura, and Kohei Arai</p>
                    <p class="small">
                        <b>“Development of an IoT-based Prosthetic Control System”</b>
                        <span class="label label-info">Journal Article</span>
                    </p>
                    <p class="small">Journal of Robotics and Mechatronics, Vol.29, No.6, pp.1049-1056, Dec 2017.</p>
                    <p class="small">
                        <a href="https://www.fujipress.jp/jrm/rb/robot002900061049/">Web</a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>Yuta Takahashi</ins>, Naoki Shirakura, Kenta Toyoshima, Takuro Amako, Ryota Isobe, Jun Takamatsu,
                        and Keiichi Yasumoto</p>
                    <p class="small">
                        <b>“DeepRemote: A Smart Remote Controller for Intuitive Control through Home Appliances Recognition
                            by Deep Learning”</b>
                        <span class="label label-success">Best Student Paper Award</span>
                    </p>
                    <p class="small">The Tenth International Conference on Mobile Computing and Ubiquitous Networking (ICMU 2017)（IPSJ, Toyama：Japan,
                        October 2017）</p>
                    <p class="small">
                        <a href="http://www.icmu.org/icmu2017/">Web</a>
                        |
                        <a href="https://www.slideshare.net/YutaTakahashi-ST/deepremote-a-smart-remote-controller-for-intuitive-control-through-home-appliances-recognition-by-deep-learning">Slide</a>
                    </p>
                </li>
                <li>
                    <p class="small">徳田博行，
                        <ins>高橋雄太</ins>，音田恭宏，金谷勇輝，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“アイウェアによる集中力センシングに基づいた行動変容誘発システムの設計”</b>
                        <span class="label label-success">支部大会奨励賞</span>
                    </p>
                    <p class="small">2017年度 情報処理学会関西支部 支部大会（情報処理学会，大阪大学中之島センター：大阪府，2017年9月）</p>
                </li>
                <li>
                    <p class="small">張志華，
                        <ins>高橋雄太</ins>，藤本まなと，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“行動変容を誘発するためのインタラクティブサイネージの検討”</b>
                    </p>
                    <p class="small">2017年度 情報処理学会関西支部 支部大会（情報処理学会，大阪大学中之島センター：大阪府，2017年9月）</p>
                </li>
                <li>
                    <p class="small">高城賢太，
                        <ins>高橋雄太</ins>，藤本まなと，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“加速度センサ無線タグによるリアルタイムでのマルチコンテキスト認識システム”</b>
                    </p>
                    <p class="small">2017年度 情報処理学会関西支部 支部大会（情報処理学会，大阪大学中之島センター：大阪府，2017年9月）</p>
                </li>
                <li>
                    <p class="small">渡邉洸，高城賢太，
                        <ins>高橋雄太</ins>，音田恭宏，藤本まなと，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“内的活性度の振り返りを支援するための生体情報を含むキャンパスライフログシステムの設計”</b>
                    </p>
                    <p class="small">2017年度 情報処理学会関西支部 支部大会（情報処理学会，大阪大学中之島センター：大阪府，2017年9月）</p>
                </li>
                <li>
                    <p class="small">
                        <ins>Yuta Takahashi</ins>, and Teruhiro Mizumoto</p>
                    <p class="small">
                        <b>“An Identification Method of IR Signals to Collect Control Logs of Home Appliances”</b>
                    </p>
                    <p class="small">2nd International Conference on Big Data, Cloud Computing, and Data Science Engineering (BCD 2017)（ACIS,
                        Hamamatsu：Japan, July 2017）</p>
                    <p class="small">
                        <a href="http://www.acisinternational.org/bcd2017/">Web</a>
                        |
                        <a href="https://www.slideshare.net/YutaTakahashi-ST/an-identification-method-of-ir-signals-to-collect-control-logs-of-home-appliances">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，音田恭宏，藤本まなと，荒川豊</p>
                    <p class="small">
                        <b>“歩行リハビリ支援のためのセンサ装着杖を介した歩行動作認識手法の提案”</b>
                    </p>
                    <p class="small">マルチメディア，分散，協調とモバイル（DICOMO 2017）シンポジウム（情報処理学会，定山渓万世閣ホテルミリオーネ：北海道，2017年6月）</p>
                    <p class="small">
                        <a href="http://dicomo.org/">Web</a>
                        |
                        <a href="https://www.slideshare.net/YutaTakahashi-ST/ss-77355904">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">河中祥吾，
                        <ins>高橋雄太</ins>，雨森千周，藤本まなと，荒川豊，藤原晶，福島徹也，松原敬信</p>
                    <p class="small">
                        <b>“競技者の負担を軽減した自転車競技向け参加型位置共有システムの実装と評価”</b>
                        <span class="label label-info">Journal Article</span>
                    </p>
                    <p class="small">情報処理学会論文誌コンシューマ・デバイス＆システム（CDS），Vol.7，No.2，2017年5月.</p>
                    <p class="small">
                        <a href="http://www.sig-cds.net/cds-trans/trans_info">
                            Web
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=174271&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">水本旭洋，
                        <ins>高橋雄太</ins>，前田直樹，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“未知の家電制御信号に適応可能な対話型家電操作ログ収集システムの提案”</b>
                    </p>
                    <p class="small">情報処理学会第79回全国大会（情報処理学会，名古屋大学 東山キャンパス：愛知県，2017年3月）</p>
                    <p class="small">
                        <a href="http://www.ipsj.or.jp/event/taikai/79/index.html">Web</a>
                        |
                        <a href="http://www.gakkai-web.net/gakkai/ipsj/79program/data/pdf/2D-02.html">概要</a>
                    </p>
                </li>
                <li>
                    <p class="small">河中祥吾，
                        <ins>高橋雄太</ins>，雨森千周，藤本まなと，荒川豊</p>
                    <p class="small">
                        <b>“自転車競技向け参加型位置共有システムにおけるBLEビーコンの出力変化による捕捉率の影響”</b>
                    </p>
                    <p class="small">第82回モバイルコンピューティングとパーペイシブシステム研究会（情報処理学会，東京大学 本郷キャンパス：東京都，2017年3月）</p>
                    <p class="small">
                        <a href="http://www.ishilab.net/mbl/program/2016/82.html">Web</a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=178144&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，水本旭洋，荒川豊，安本慶一</p>
                    <p class="small">
                        <b>“労働生産性改善に向けたウェアラブル機器を用いた体調推定法の検討”</b>
                        <span class="label label-success">Work in Progress奨励賞</span>
                    </p>
                    <p class="small">第81回モバイルコンピューティングとパーベイシブシステム研究会（情報処理学会，金沢湯桶温泉かなや：石川県，2016年12月）</p>
                    <p class="small">
                        <a href="http://www.ishilab.net/mbl/program/2016/81.html">
                            Web
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/index.pWeb?active_action=repository_view_main_item_detail&page_id=13&block_id=8&item_id=176161&item_no=1">
                            情報処理学会電子図書館
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/ss-69904343">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">河中祥吾，
                        <ins>高橋雄太</ins>，雨森千周，藤本まなと，荒川豊，藤原晶，福島徹也，松原敬信</p>
                    <p class="small">
                        <b>“競技者の負担を軽減した参加型位置共有システムの提案と実装”</b>
                    </p>
                    <p class="small">第17回コンシューマ・デバイス＆システム研究会（情報処理学会，芝浦工業大学 豊洲キャンパス：東京都，2016年8月）</p>
                    <p class="small">
                        <a href="http://www.sig-cds.net/doku.pWeb?id=cds17">
                            Web
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=174271&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，福田修，奥村浩，新井康平</p>
                    <p class="small">
                        <b>“IoT技術を取り入れた筋電義手の制御”</b>
                    </p>
                    <p class="small">(Poster) ロボティクス・メカトロニクス講演会2016（日本機械学会，パシフィコ横浜：神奈川県，2016年6月）</p>
                    <p class="small">
                        <a href="http://robomech.org/2016/">
                            Web
                        </a>
                        |
                        <a href="doc/research/201606-robomech.pdf">
                            ポスター
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，清田勝，林田行雄，阪本雄一郎</p>
                    <p class="small">
                        <b>“交通事故データへの頻出パターンマイニングの適用”</b>
                    </p>
                    <p class="small">自動車技術会 2016年春季大会（自動車技術会，パシフィコ横浜：神奈川県，2016年5月）</p>
                    <p class="small">
                        <a href="http://www.jsae.or.jp/2016haru/">
                            Web
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/ss-62415702">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">
                        <ins>高橋雄太</ins>，滝沢陽三，蓬莱尚幸</p>
                    <p class="small">
                        <b>“超音波センサーを用いた4点杖の使用者のコンテキスト推定法の提案”</b>
                    </p>
                    <p class="small">第42回ユビキタスコンピューティングシステム研究会（情報処理学会，富山国際会議場：富山県，2014年5月）</p>
                    <p class="small">
                        <a href="http://sigubi.ipsj.or.jp/seminar42/">
                            Web
                        </a>
                        |
                        <a href="https://ipsj.ixsq.nii.ac.jp/ej/?action=pages_view_main&active_action=repository_view_main_item_detail&item_id=101430&item_no=1&page_id=13&block_id=8">
                            情報処理学会電子図書館
                        </a>
                        |
                        <a href="http://www.slideshare.net/YutaTakahashi-ST/4-35460990">
                            Slide
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">田島圭一郎，皆川仁志，森脇滉，矢野倉伊織，八重樫拓也，一戸香澄，
                        <ins>高橋雄太</ins>，芦名沢裕太，五十嵐浩</p>
                    <p class="small">
                        <b>“ビーカーのお湯の冷め方〜〜〜「物理チャレンジ」に挑む”</b>
                    </p>
                    <p class="small">茨城工業高等専門学校研究彙報，Vol.45，pp.5-14（2010年3月）</p>
                    <p class="small">
                        <a href="http://ci.nii.ac.jp/naid/110007531474">
                            CiNii
                        </a>
                    </p>
                </li>
            </ol>

            <h3>受賞</h3>
            <ol>
                <li>
                    <p class="small">Best Demonstration Award, IEEE International Conference on Pervasive Computing and Communications (PerCom2019)（2019年3月）</p>
                    <p class="small">
                        <a href="img/research/201903-cer-percomdemos.pdf">
                            賞状
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">情報処理学会 第90回 モバイルコンピューティングとパーベイシブシステム研究会 優秀発表賞（2019年3月）</p>
                </li>
                <li>
                    <p class="small">Best Student Paper Award, The Tenth International Conference on Mobile Computing and Ubiquitous Networking
                        (ICMU 2017)（2017年10月）</p>
                    <p class="small">
                        <a href="img/research/201710-cer-icmu2017.pdf">
                            賞状
                        </a>
                        |
                        <a href="http://www.icmu.org/icmu2017/?awards">
                            結果
                        </a>
                        |
                        <a href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20171005_takahashi.html">
                            受賞報告
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">情報処理学会 関西支部 2017年度支部大会 支部大会奨励賞（2017年9月）</p>
                    <p class="small">
                        <font color="#9095B4">受賞者：徳田博行</font>
                    </p>
                    <p class="small">
                        <a href="http://kansai.ipsj.or.jp/record/2017.html">
                            結果
                        </a>
                        |
                        <a href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20170925_tokuda.html">
                            受賞報告
                        </a>
                    </p>
                </li>
                <li>
                    <p class="small">第82回モバイルコンピューティングとパーペイシブシステム研究会 Work in Progress奨励賞（2016年12月）</p>
                    <p class="small">
                        <a href="img/research/201612-cer-mblwip.pdf">
                            賞状
                        </a>
                        |
                        <a href="http://www.ishilab.net/mbl/excellent/2016/">
                            結果
                        </a>
                        |
                        <a href="http://isw3.naist.jp/IS/PubWG/Events-ja/award20161207_takahashi.html">
                            受賞報告
                        </a>
                    </p>
                </li>
            </ol>
        </div>
    </div>
</section>